*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section,.productBox,.productBox h3{
        background-color: aliceblue;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}
.productBox{
    width: 80%;
    height: 500px;
    position: relative;
    flex-direction: row;
    background-color: white;
    margin: 20px;
    padding: 30px;
    border-radius: 5px;
}
.productBox img{
    width: 50%;
    height: 80%;
}
.productBox h3{
    flex-direction: row;
    justify-content: left;
    background-color: white;
}
.productBox a{
    position: absolute;
    top:20px;
    right: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(38, 3, 3);
    padding: 5px 15px;
    transition: all 0.8s ease;
    border-radius: 2px;
}
.productBox a:hover{
    background-color: rgb(179, 69, 69);
}

