*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    padding: 20px;
    background-color: antiquewhite;
}
header,header ul{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header ul {
    justify-content: center;
    list-style: none;
}
header ul  li a{
    padding: 10px 15px;
    font-size: 18px;
    transition: all 1s ease;
}
header ul li a:hover{
    background-color: rgb(183, 150, 103);
    border-radius: 1px;
}
header ul a{
    text-decoration: none;
    color: black;
}
span{
    background-color: white;
  padding: 10px 22px;
  border-radius: 50%;
  margin-left: 10px;
}
header ul:last-of-type li:last-of-type a:hover{
    background: none;
}
header ul:last-of-type li:last-of-type a{
    font-size: 24px;
}